
<div class="container">
  <div class="pot col-xs-8">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="row">
          <div class="form-inputs">
            <%= f.error_notification %>
            <div class="row">
              <div class="col-sm-6">
                <%= f.input :first_name, required: true %>
              </div>
              <div class="col-sm-6">
                <%= f.input :last_name, required: true %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 text-left">
                <%= f.input :email, required: true, autofocus: true %>
              </div>
              <div class="form-input col-xs-6">
                <%= f.input :picture, as: :attachinary %>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <div class="row">
              <div class="col-xs-6">
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)%>
              </div>
              <div class="col-xs-6">
                <%= f.input :password_confirmation, required: false %>
              </div>
            </div>
            <div class="positionning">
              <div class="row">
                <div class="form-input col-xs-12 col-sm-6 text-left">
                  <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
                </div>
                  <%= f.button :submit, "Save Changes", class: 'btn btn-login btn-maggl' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
