<div class="container">
  <h2>New <%= resource_name.to_s.humanize %></h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="row">
        <div class="form-inputs">
          <div class="col-xs-8">

            <%= f.error_notification %>
            <div class="row">
              <div class="col-sm-6">
                <%= f.input :first_name, required: true %>
              </div>
              <div class="col-sm-6">
                <%= f.input :last_name, required: true %>
              </div>
            </div>

            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <div class="row">
              <div class="col-sm-6">
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)%>
              </div>
              <div class="col-sm-6">
                <%= f.input :password_confirmation, required: false %>
              </div>
            </div>
            <div class="row">
              <div class="form-action col-sm-12 text-center">
                <%= f.button :submit, "Join Us!", class: 'btn btn-success' %>
              </div>
            </div>
          </div>
          <div class="row col-xs-4">
            <div class="form-input">
            </div>
          </div>
        </div>
        <div class="row col-xs-4">
          <div class="form-input">
            <%= f.input :picture, as: :attachinary %>
          </div>
        </div>
      </div>
    <% end %>
</div>
