<div class="container">
  <div class="row">
    <div class= text-center>
      <h1>List of events</h1>
        <% @participations.each do |participation, event| %>
          <div class="col-xs-12">
            <div class="card-index card--participant ">
              <div class="col-xs-2 card-bckgd-participation">
                <span class="card__date__weekday">
                  <%= participation.event.happen_at.strftime("%d")%>
                </span>
                <span class="card__date__day">
                  <%= participation.event.happen_at.strftime("%m")%>
                </span>
                <span class="card__date__month">
                  <%= participation.event.happen_at.strftime("%Y")%>
                </span>
              </div>
              <div class="col-xs-10 text-center">
                <%= link_to "", event_path(participation.event), class: "card-link" %>
                  <div class="card__content">
                    <div class="col-xs-3">
                      <%=  avatar_image_tag(participation.event.user, class: "avatar-index-picture",) %>
                  </div>
                  <div class="col-xs-8 col-md-8 first_name_index">
                    <h4><%= participation.event.user.first_name  %></h4>
                    <div class="inviting hidden-xs">
                      Invites you to
                    </div>
                    <div class="restaurant_name">
                      <p>"<%= participation.event.restaurant.name%>"</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class= text-center>
      <% @events.each do |event| %>
        <div class="col-xs-12">
          <div class="card-index card--event ">
            <div class="col-xs-2 card-bckgd-event">
              <span class="card__date__weekday">
                <%= event.happen_at.strftime("%d")%>
              </span>
              <span class="card__date__day">
                <%= event.happen_at.strftime("%m")%>
              </span>
              <span class="card__date__month">
                <%= event.happen_at.strftime("%Y")%>
              </span>
            </div>
            <div class="col-xs-10 text-center">
              <%= link_to "", event_path(event), class: "card-link" %>
              <div class="card__content">
                <div class="col-xs-3">
                      <%= image_tag event.restaurant.picture, class: "restaurant_picture" %>
                </div>
                <div class="col-xs-8 col-md-8 first_name_index">
                  <div class="restaurant_name">
                    <h4><%="Your event!:" %></h4>
                    <h4><%= event.restaurant.name%></h4>
                  </div>
                </div>
                <div class="col-xs-1 send_invite_plane">
                  <i class="fa fa-paper-plane-o fa-2x" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class= text-center>
     <% @cancelled_events.each do |cancelled_event| %>
      <div class="col-xs-12">
        <div class="card-index card--cancelled">
          <div class="col-xs-2 card-bckgd-cancelled">
            <span class="card__date__weekday">
              <%= cancelled_event.happen_at.strftime("%d")%>
            </span>
            <span class="card__date__day">
              <%= cancelled_event.happen_at.strftime("%m")%>
            </span>
            <span class="card__date__month">
              <%= cancelled_event.happen_at.strftime("%Y")%>
            </span>
          </div>
          <div class="col-xs-10 text-center">
            <%= link_to "", event_path(cancelled_event), class: "card-link" %>
            <div class="card__content">
              <div class="col-xs-3 ">
                <%= image_tag cancelled_event.restaurant.picture, class: "restaurant_picture" %>
              </div>
              <div class="col-xs-8 col-md-8 first_name_index">
                <div class="event_cancelled">
                  <%= "Event cancelled" %>
                </div>
                <div class="restaurant_name">
                  <h4><%="Your event!:" %></h4>
                  <h4><%=cancelled_event.restaurant.name%></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>






