<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>


<% @events.each do |event| %>
  <p><%= event.restaurant.name %></p>
    <% event.participations.each do |participation| %>
    <%= participation.user.first_name %>
    <%= participation.status %>
    <% end %>
  <p><%= event.happen_at %></p>
  <p><%= event.due_at %></p>
<% end %>
