<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>


<% @events.each do |event| %>
  <%= event.restaurant_id.name %>
  <% event.participations.each do |participation| %>
    <%= participation.user.last_name %>
    <%= participation.status %>
    <% end %>
  <%= event.happen_at %>
  <%= event.due_at %>

<% end %>
