<div class="container">
  <div class="container_show">
    <div class="row" >
      <div class="col-xs-12 col-md-12">
      <% if current_user == @event.user %>
        <h1><%= "Hey" + " " + @creator + "," + " " + "here is your event!" %> </h1>
        <% else %>
        <h1><%= @creator + "'s event" %></h1>
        <% end %>
      </div>
    </div>
    <div class="show_upper_side">
      <div class="row" >
        <div class="col-xs-12 col-md-6">
          <p class="img_show">
            <%= image_tag @choosen_place.picture%></p>
          <p class="title"><%= @choosen_place.name %></p>
          <h4 class="event_cancelled_show">
            <% if @event.canceled_at %>
              <%= "EVENT CANCELLED" %>
            <% else %>
              <% "" %>
            <% end %></h4>
        </div>
        <div class="date">
          <div class="day">
            <%= @happening.strftime("%d") %>
          </div>
          <div class="month">
            <%= @happening.strftime("%^a") %>
          </div>
        </div>
          <div class="col-xs-12 col-md-6">
          <%= @event.title %>
        </div>
        <div class="col-xs-12 col-md-6">
            <img class="google_map" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @event.restaurant.address %>&zoom=13&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%= @event.restaurant.address %>">
        </div>
        <div class="col-xs-12 col-md-6 text-center">
          <div id="clockdiv">
            <div>
              <span class="days"></span>
                <div class="smalltext">Days</div>
            </div>
            <div>
              <span class="hours"></span>
                <div class="smalltext">Hours</div>
            </div>
            <div>
              <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div>
              <span class="seconds"></span>
                <div class="smalltext">Seconds</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if current_user == @event.user %>
      <%= "Your guests :" %>
      <% else %>
      <%= "Invited guests :" %>
      <% end %>
    <div class="row">
      <div class=" text-center guests">
        <div class="col-xs-12 col-md-6">
          <% @guests.each do |guest| %>
            <div class="col-xs-2">
              <div class="badge-container-show">
                <p><%= image_tag guest.user.facebook_picture_url, class: "avatar" %></p>
                <% if guest.status == "confirmed" %>
                  <div class="badge badge-green"> </div>
                <% elsif guest.status == "declined" %>
                  <div class="badge badge-red"> </div>
                <% else %>
                  <div class="badge badge-bordered">?</div>
                <% end %>
                <p><%= guest.user.first_name %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="ultimatum text-center">
          <% if current_user != @event.user %>
            <h4><%= @ultimatum.strftime("Please answer before %A %d %B %H:%M") %></h4>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row text-center test">
     <div class="col-xs-12 col-md-12">
      <%= link_to 'Back to list', events_path, class: "btn-medium"%>
        <% if current_user != @event.user %>
         <%= link_to 'Confirm', participation_path(@participation, participation: {status: :confirmed}), method: :patch, class: "btn-confirm" %>
         <%= link_to 'Decline', participation_path(@participation, participation: {status: :declined}), method: :patch, class: "btn-declined"%>
        <% end %>
        <% if current_user == @event.user %>
          <% if @event.canceled_at %>
            <%= link_to 'Re-launch event', event_path(@event, event: {canceled_at: :nil}), method: :patch, class: "btn-confirm" %>
          <% else %>
            <%= link_to 'Cancel event', edit_event_path(@event), class: "btn-declined" %>
            <h4 style='color: black'>To tell your friends you're coming!</h4>
            <%= link_to 'Launch invites!', edit_event_path(@event), class: "btn-create" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= content_for :after_js do %>
  <script>
    var deadline = "<%= @event.due_at.strftime('%B %d %Y %H:%M:%S') %>";


    initializeClock('clockdiv', deadline);
  </script>
<% end %>
