<p>Find me in app/views/events/show.html.erb</p>

<div class="container">
  <div class="container_show">
    <div class="row" >
        <div class="col-xs-12 col-md-12">
          <div class="title">
            <h1><%= @creator.first_name + "'s event" %></h1>
          </div>

            <div class="row">
              <div class="col-xs-6 col-md-6">
                <%= image_tag 'imgres.jpg', class: "photo_show text-center"%>
              </div>

              <div class="row">
                <div class="text-center placeandtime">
                  <div class="col-xs-6 col-md-6">
                    <p><%= "occuring at" + " " + @choosen_place.name %></p>
                    <p><%= "on" + " " + @happening.strftime("%d/%m/%Y %H:%M") %></p>
                  </div>
                 </div>
              </div>
            </div>

            <div class="row">
              <div class="text-center guests">
                <div class="col-xs-12 col-md-12">
                  <% @guests.each do |guest| %>
                    <div class="col-xs-4 col-md-4" >
                      <p><%= guest.user.first_name %></p>
                    <% if guest.status == "confirmed" %>
                      <div class="text-confirmed"><%= guest.status %></div>
                    <% elsif guest.status == "declined" %>
                      <div class="text-declined"><%= guest.status %></div>
                    <% else %>
                      <div class="text-pending"><%= guest.status %></div>
                    <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="ultimatum">
                <p><%= @ultimatum.strftime("Please answer before %d/%m/%Y %H:%M") %></p>
              </div>
            </div>
          </div>
      </div>
    </div>
      <div class="row">
         <div class="col-xs-12 col-md-12">
         <%= link_to 'Confirm', participation_path(@participation, participation: {status: :confirmed}), method: :patch, class: "btn-confirm" %>
         <%= link_to 'Declined', participation_path(@participation, participation: {status: :declined}), method: :patch, class: "btn-declined"%>
         </div>
        
       <div class="row">
         <div class="col-xs-12 col-md-12">
         <%= link_to 'back to list', events_path, class: "btn-medium"%>
         <%= link_to 'Cancel event', edit_event_path(@event), class: "btn-medium" %>
         <%= link_to 're-launch event', event_path(@event, event: {canceled_at: :nil}), method: :patch, class: "btn-medium" %>
         </div>
           </div>
        </div>
    </div>
</div>

