<div id="center">
  <div id="wrapper-home">
    <h1>Create and organize your outings very simply!</h1>
  </div>
  <%= link_to t(".top_call_to_action", default: "Create an event"), new_event_path, class: "button-create-pad" %>
  <div class="wrapper-home">
    <div class="container-home text-center padded features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag("Amelie_Poulain.png") %>
          <h2>Tell us about you</h2>
          <p>Please sign up for us to help you out!</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag("Crane.png") %>
          <h2>Select your preferences</h2>
          <p>Through 3 clicks, you could access the matching Au Pair profiles</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag("Travis.png") %>
          <h2>Chose your favorite</h2>
          <p>Click on a profile and book.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag("Trust.png") %>
          <h2>Welcome your Au Pair </h2>
          <p>Live a new experience and give your family the opportunity to open his mind</p>
        </div>
      </div>
    </div>
  </div>
</div>

