<div class="text-center">
<h2>Do you like this kind of food?</h2>

</div>

<%= simple_form_for(@taste) do |f| %>
  <%= image_tag @category.pictoname %>
  <div class="text-center">
    <h2><%= @category.name %></h2>
  </div>
  <div class="text-center">

  <%= f.input :category_id, input_html: { value: @category.id }, as: :hidden %>
  </div>

  <div class="text-center">
    <%= f.submit "Yes", class: "btn button-create-pad" %>
    <%= f.submit "No", class: "btn button-create-pad"  %>

  </div>

<% end %>
