<div class="text-center">
<h2>Do you like this kind of food?</h2>

</div>

<%= simple_form_for(@taste) do |f| %>
  <%= image_tag @category.pictoname %>
  <div class="text-center">
    <h2><%= @category.name %></h2>
  </div>
  <div class="text-center">

  <%= f.input_field :level, as: :radio_buttons, class: "modal-button" %>
  </div>

  <div class="text-center">
    <%= f.button :submit, class: "btn-declined btn-modal" %>
  </div>

<% end %>
